 @media (max-width: 1098px) {
     body {
         padding: 0 !important;

         .panel {
            grid-template-columns: 1fr;

            .sidebar {
                .top-container {
                    .logo {
                        height: 5rem;
                    }

                    .links {
                        display: none;
                    }
                }

                .bottom-container {
                    display: none;
                }
            }

            .metrics {
                height: max-content;
                padding-top: 2rem;
                padding-bottom: 2rem;

                .navbar {
                    display: flex;
                    h1 {
                        display: none;
                    }

                    .info {
                        position: absolute;
                        right: 1.2rem;
                        margin-bottom: 2rem;
                        h4 {
                            font-size: 14px;
                        }

                        .profile-pic {
                            img {
                                height: 2.5rem;
                            }
                        }
                    }
                }

                .grid-one,.grid-two {
                    grid-template-columns: 1fr;
                }
            }
         }
     }
 }


 @media (max-width: 1100px) {
    body {
        .panel {
            .metrics {
                .grid-two {
                    .trendingTracks {

                        .tracksInfo {
                            h4 {
                                font-size: 15px;
                            }

                            span {
                                font-size: 13px;
                            }
                        }

                        .trend {

                            .trendInfo {
                                h4 {
                                    font-size: 13px;
                                }

                                span {
                                    font-size: 12px;
                                }
        
                            }
            

                            .trendMetas {
                                gap: 1.5rem;
                                span {
                                    font-size: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
 }

 @media (max-width: 698px) {
    body {
        .panel {
            .sidebar {
                .top-container {
                    .logo {
                        height: 3.5rem;
                    }
                }
            }

            .metrics {

                .navbar {
                    display: flex;
                    h1 {
                        display: none;
                    }

                    .info {
                        position: absolute;
                        right: 0.8rem;
                        margin-bottom: 1.5rem;
                        h4 {
                            font-size: 12px;
                        }

                        .profile-pic {
                            img {
                                height: 2rem;
                            }
                        }
                    }
                }

                .grid-one {
                    .top-box {
                        h4 {
                            font-size: 13px;
                        }

                        span {
                            font-size: 11px;
                        }
                    }

                    .followers-metric{
                        .followersMetric-info {
                            h4 {
                                font-size: 13px;
                            }

                            span {
                                font-size: 11px;
                            }
                        }
                    }
                }

                .grid-two {
                    .trendingTracks {

                        .tracksInfo {
                            h4 {
                                font-size: 12px;
                            }

                            span {
                                font-size: 11px;
                            }
                        }

                        .trend {

                            .trendInfo {

                                img {
                                    height: 1.3rem;
                                }

                                h4 {
                                    font-size: 10px;
                                }

                                span {
                                    font-size: 8px;
                                }
        
                            }
            

                            .trendMetas {
                                gap: 0.5rem;
                                span {
                                    font-size: 7px;
                                }
                            }
                        }
                    }

                    .trending-Users {
                        .trendingInfo {
                            h4 {
                                font-size: 14px;
                            }

                            span {
                                font-size: 14px;
                            }
                        }

                        .trend {
                            img {
                                height: 2rem;
                            }

                            .trendInfo {
                                h4 {
                                    font-size: 12px;
                                }
                                
                                span {
                                    font-size: 12px;
                                }
                            }
                        }
                    }

                    .user-activity {
                        .activityInfo {
                            h4 {
                                font-size: 14px;
                            }

                            span {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
 }