    @mixin trendingTracksStyles {
        .trendingTracks {
            @include getCardStyles;

            .tracksInfo {
                margin-bottom: 1.5rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                @include cardIconStyles;

                h4 {
                    margin-bottom: 0.5rem;
                }
            }

            .trend {
                display: flex;
                margin-bottom: 1.4rem;
                gap: 1rem;
                justify-content: space-between;

                @media (max-width: 280px) {
                    flex-direction: column;
                }
                
                .trendInfo {
                    gap: 1rem;
                    width: 40%;
                    display: flex;
                    
                    h4 {
                        margin-bottom: 0.2rem;
                    }

                    img {
                        height: 2.5rem;
                        border-radius: 1rem;
                    }
                }

                .trendMetas {
                    display: flex;
                    gap: 2rem;
                }
            }
        }
    }