@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Quicksand', sans-serif;
  width: 100vw;
  height: 100vh;
}

body .panel {
  width: 100%;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 80%;
      grid-template-columns: 20% 80%;
}

.player {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 3rem 3rem 2rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.player-image {
  position: relative;
}

.player-image img {
  position: absolute;
  height: 3rem;
  bottom: 1rem;
  right: -1.5rem;
}

.player .trackArtiste {
  margin-bottom: 0.8rem;
  margin-top: 0.2rem;
  font-weight: 300;
  font-size: 14px;
}

.player .seekInfo {
  margin-top: 0.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.player .seekInfo span {
  font-size: 10px;
}

.player .player-options {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.sidebar {
  background-image: radial-gradient(circle 580.6px at 10% 40%, #3b5174 30%, black 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar .top-container .logo {
  cursor: pointer;
  margin-top: 1rem;
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sidebar .top-container .logo img {
  height: 3.5rem;
}

.sidebar .top-container .links li {
  padding-right: 0;
  list-style-type: none;
  margin: 1.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  font-size: 1.2rem;
}

.sidebar .top-container .links li svg {
  color: #fff;
}

.sidebar .top-container .links li a {
  text-decoration: none;
  color: #fff;
}

.metrics {
  background-color: #e3e7fc;
  padding: 0 2rem;
}

.metrics .navbar {
  margin: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.metrics .navbar h1 {
  cursor: pointer;
}

.metrics .navbar nav img {
  display: none;
}

.metrics .navbar .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.metrics .navbar .info h4 {
  cursor: pointer;
}

.metrics .navbar .info .profile-pic img {
  border-radius: 3rem;
  height: 3rem;
}

.metrics span {
  font-weight: 700;
  color: #6d6d6d;
}

.metrics .grid-one {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  gap: 1rem;
  height: 40%;
  margin-bottom: 1rem;
}

.metrics .grid-one .top-box {
  background-color: #fff;
  border-radius: 0.4rem;
  padding: 1rem;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.metrics .grid-one .top-box h4 {
  margin-bottom: 0.5rem;
}

.metrics .grid-one .top-box:hover {
  background-color: #f3f3f3;
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px 25px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px 25px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.metrics .grid-one .followers-metric {
  background-color: #fff;
  background-color: #fff;
  border-radius: 0.4rem;
  padding: 1rem;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.metrics .grid-one .followers-metric:hover {
  background-color: #f3f3f3;
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px 25px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px 25px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.metrics .grid-one .followers-metric .followersMetric-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.metrics .grid-one .followers-metric .followersMetric-info .icon {
  cursor: pointer;
  background-color: #4362ee46;
  border-radius: 0.5rem;
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.metrics .grid-one .followers-metric .followersMetric-info .icon svg {
  color: #4361ee;
  font-size: 1.4rem;
}

.metrics .grid-one .followers-metric .followersMetric-info h4 {
  margin-bottom: 0.5rem;
}

.metrics .grid-two {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr 1fr;
      grid-template-columns: 2fr 1fr 1fr;
  gap: 1rem;
  height: 40%;
}

.metrics .grid-two .trendingTracks {
  background-color: #fff;
  border-radius: 0.4rem;
  padding: 1rem;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.metrics .grid-two .trendingTracks:hover {
  background-color: #f3f3f3;
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px 25px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px 25px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.metrics .grid-two .trendingTracks .tracksInfo {
  margin-bottom: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.metrics .grid-two .trendingTracks .tracksInfo .icon {
  cursor: pointer;
  background-color: #4362ee46;
  border-radius: 0.5rem;
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.metrics .grid-two .trendingTracks .tracksInfo .icon svg {
  color: #4361ee;
  font-size: 1.4rem;
}

.metrics .grid-two .trendingTracks .tracksInfo h4 {
  margin-bottom: 0.5rem;
}

.metrics .grid-two .trendingTracks .trend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.4rem;
  gap: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.metrics .grid-two .trendingTracks .trend .trendInfo {
  gap: 1rem;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.metrics .grid-two .trendingTracks .trend .trendInfo h4 {
  margin-bottom: 0.2rem;
}

.metrics .grid-two .trendingTracks .trend .trendInfo img {
  height: 2.5rem;
  border-radius: 1rem;
}

.metrics .grid-two .trendingTracks .trend .trendMetas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}

.metrics .grid-two .trending-Users {
  background-color: #fff;
  border-radius: 0.4rem;
  padding: 1rem;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.metrics .grid-two .trending-Users:hover {
  background-color: #f3f3f3;
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px 25px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px 25px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.metrics .grid-two .trending-Users .trendingInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1.5rem;
}

.metrics .grid-two .trending-Users .trendingInfo .icon {
  cursor: pointer;
  background-color: #4362ee46;
  border-radius: 0.5rem;
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.metrics .grid-two .trending-Users .trendingInfo .icon svg {
  color: #4361ee;
  font-size: 1.4rem;
}

.metrics .grid-two .trending-Users .trendingInfo h4 {
  margin-bottom: 0.5rem;
}

.metrics .grid-two .trending-Users .trend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.3rem;
  gap: 1rem;
}

.metrics .grid-two .trending-Users .trend img {
  border-radius: 2rem;
  height: 2.5rem;
}

.metrics .grid-two .trending-Users .trend .trendInfo {
  margin-left: 1.6rem;
}

.metrics .grid-two .trending-Users .trend .trendInfo h4 {
  margin-bottom: 0.15rem;
}

.metrics .grid-two .trending-Users .trend .trendInfo span {
  font-size: 14px;
}

.metrics .grid-two .user-activity {
  background-color: #fff;
  border-radius: 0.4rem;
  padding: 1rem;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.metrics .grid-two .user-activity:hover {
  background-color: #f3f3f3;
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px 25px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px 25px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.metrics .grid-two .user-activity .activityInfo {
  margin-bottom: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.metrics .grid-two .user-activity .activityInfo .icon {
  cursor: pointer;
  background-color: #4362ee46;
  border-radius: 0.5rem;
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.metrics .grid-two .user-activity .activityInfo .icon svg {
  color: #4361ee;
  font-size: 1.4rem;
}

.metrics .grid-two .user-activity .activityInfo h4 {
  margin-bottom: 0.5rem;
}

@media (max-width: 1098px) {
  body {
    padding: 0 !important;
  }
  body .panel {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  body .panel .sidebar {
    display: none;
  }
  body .panel .metrics {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  body .panel .metrics .navbar {
    margin: 0;
    margin-bottom: 1.5rem;
    background-color: #3b5174;
    padding: 1.5rem 1.5rem;
  }
  body .panel .metrics .navbar h1 {
    display: none;
  }
  body .panel .metrics .navbar nav img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 4.5rem;
    cursor: pointer;
    margin-left: 1rem;
  }
  body .panel .metrics .navbar .info h4 {
    color: #bdb7b7;
  }
  body .panel .metrics .grid-one, body .panel .metrics .grid-two {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (max-width: 1100px) {
  body .panel .metrics .grid-two .trendingTracks .trend .trendMetas {
    gap: 2.5rem;
  }
  body .panel .metrics .grid-two .trendingTracks .trend .trendMetas span {
    font-size: 15px;
  }
}
